# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [7]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [65]:
baby_names=pd.read_csv("https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv")
baby_names=baby_names.fillna(0)
print(baby_names)

         Unnamed: 0       Id     Name  Year Gender State  Count
0             11349    11350     Emma  2004      F    AK     62
1             11350    11351  Madison  2004      F    AK     48
2             11351    11352   Hannah  2004      F    AK     46
3             11352    11353    Grace  2004      F    AK     44
4             11353    11354    Emily  2004      F    AK     41
...             ...      ...      ...   ...    ...   ...    ...
1016390     5647421  5647422     Seth  2014      M    WY      5
1016391     5647422  5647423  Spencer  2014      M    WY      5
1016392     5647423  5647424     Tyce  2014      M    WY      5
1016393     5647424  5647425   Victor  2014      M    WY      5
1016394     5647425  5647426   Waylon  2014      M    WY      5

[1016395 rows x 7 columns]

### Step 4. See the first 10 entries

In [ ]:
baby_names.head(10)

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [ ]:
del baby_names["Unnamed: 0"]
del baby_names["Id"]

### Step 6. Is there more male or female names in the dataset?

In [ ]:
gp=baby_names.groupby("Gender")["Count"].count()
gp.idxmax()

### Step 7. Group the dataset by name and assign to names

In [60]:
names=baby_names.groupby("Name")
names

### Step 8. How many different names exist in the dataset?

names.unique(

In [61]:
names.ngroups

17632

### Step 9. What is the name with most occurrences?

In [62]:
names["Count"].sum().idxmax()

'Jacob'

### Step 10. How many different names have the least occurrences?

In [71]:
minimum=names["Count"].sum().min()
gp=names.filter(lambda group: group["Count"].sum() == minimum)
gp.shape[0]

2578

### Step 11. What is the median name occurrence?

In [74]:
median = names["Count"].sum().median()
median

49.0

### Step 12. What is the standard deviation of names?

In [73]:
std1=names["Count"].sum().std()
print(std1)

11006.069467891111

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [ ]:
pd.set_option("display.float_format", "{:.2f}".format)
baby_names.describe()